[*]

end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,vb}]

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = true
dotnet_style_qualification_for_method = true
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_field = false
